@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Shared styles */
*{
    font-family: "Quicksand", serif;
    margin: 0px;
    padding: 0px;
}
.btn-primary{
    width:12.3125rem;
    height:3.125rem;
    border: none;
    border: 1px solid #F7F7F7;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #FEA301;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 0.75rem;
}
.btn-primary:hover{
    border: 1px solid #FEA301;
    background-color: white;
    color: #FEA301;
}
.color1{
    color: #FEA301;
}
.color2{
    color: #01ACFD;
}
/* Nav section styles */

.nav{
    width: 100%;
    height:6.38rem;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 85%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 15px;
}
.title{
    font-size: 2rem;
    font-weight: bold;
}
/* .menu,{

} */
.menu-items{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size:1.25rem;
    font-weight:bold;
}
a{
    text-decoration: none;
}
.home-btn{

}
.home-btn:hover{
    color:#fdb73d;
}
.about-btn{

}
.about-btn:hover{
    color:#61c4f1;
}
.facilities-btn{
    color: #05D4DF;
}
.facilities-btn:hover{
    color:#4feef7;
}
.admission-btn{
    color: #5D58EF;
}
.admission-btn:hover{
    color:#7975f3;
}
.hamburger-menu-icon{
    display: none;
}

/* Banner Section styles */
.banner-section{
    width: 100%;
    height:35.94rem;
    background-color: #F7F7F7;
}
.banner-container{
    width: 85%;
    height:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-size:4rem;
    font-weight: bold;
    line-height:4.8125rem;
}
.banner-description{
    font-size:1.85rem;
    margin:25px 0;
}
.enrol-btn{
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-top: 20px;
}
.enrol-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}


/* Responsive for mobile device  */

@media only screen and (max-width:430px) {
    /* Nav section */
    .nav{
        border-bottom:1px solid #FEA301;
    }
    .container{
        width: 95%;
    }
    .title, 
    .menu, 
    .contact-btn{
        display: none;
    }
    .hamburger-menu-icon{
        display: inline-block;
    }
    .fa-solid, .fa-bars{
        font-size: 30px;
    }
    /* Banner Section */
    .banner-section{
        background-color: white;
    }
    .banner-container{
        flex-direction: column-reverse;
        height: auto;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        font-size:2rem;
        line-height:2.8125rem;
    }
    .banner-description{
        font-size:0.93rem;
    }
    .break{
        display: none;
    }
    .banner-img{
        width:21rem;
        height:25.8rem;
    }
}