@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Shared styles */
* {
  font-family: "Quicksand", serif;
  margin: 0px;
  padding: 0px;
}
.btn-primary {
  width: 12.3125rem;
  height: 3.125rem;
  border: none;
  border: 1px solid #f7f7f7;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #fea301;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 0.75rem;
}
.btn-primary:hover {
  border: 1px solid #fea301;
  background-color: white;
  color: #fea301;
}
.color1 {
  color: #fea301;
}
.color2 {
  color: #01acfd;
}
.dark1 {
  color: #808080;
}
/* Nav section styles */
.primary-bg-color {
  background-color: #f7f7f7;
}
.nav {
  width: 100%;
  height: 6.38rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
/* .menu,{

} */
.menu-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.25rem;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.home-btn:hover {
  color: #fdb73d;
}
.about-btn:hover {
  color: #61c4f1;
}
.facilities-btn {
  color: #05d4df;
}
.facilities-btn:hover {
  color: #4feef7;
}
.admission-btn {
  color: #5d58ef;
}
.admission-btn:hover {
  color: #7975f3;
}
.hamburger-menu-icon {
  display: none;
}

/* Banner Section styles */
.banner-section {
  width: 100%;
  height: 35.94rem;
}
.banner-container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
  line-height: 4.8125rem;
}
.banner-description {
  font-size: 1.85rem;
  margin: 25px 0;
}
.enrol-btn, .view-all-btn{
  background-color: black;
  color: white;
  border: 1px solid white;
  margin-top: 20px;
}
.enrol-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* Standard Curriculum Section styles */

.curriculum {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 54.94rem;
}
.container-title {
  font-size: 4.5rem;
  font-weight: bold;
  /* line-height: 5.56rem; */
  text-align: center;
  margin-bottom: 3.9rem;
}
.curriculum-container{
  width: 85%;
  height: 30rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.cr-card{
  width: 23rem;
  height: 30rem;
  text-align: center;
  border-radius: 1.2rem;
}
.card-img {
  margin: 30px 0;
}
.card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 20px 0;
}
.card-description {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-top: 20px;
  margin-bottom: 50px;
}
.card-btn-primary {
  border: none;
  background-color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}

.card1 {
  background: linear-gradient(180deg, #dbf1fa 0%, #ffffff 40%);
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.1);
  border: 1px solid #c8ecff;
}
.card1-btn {
  color: #64c8ff;
}
.card1-btn:hover {
  color: #8cd2f8;
}
.card2 {
  background: linear-gradient(180deg, #faefd9 0%, #ffffff 40%);
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.1);
  border: 1px solid #f5e6c4;
}
.card2-btn {
  color: #f0aa00;
}
.card2-btn:hover {
  color: #ffc744;
}
.card3 {
  background: linear-gradient(180deg, #ebdffb 0%, #ffffff 40%);
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.1);
  border: 1px solid #dfbbff;
}
.card3-btn {
  color: #8700ff;
}
.card3-btn:hover {
  color: #9f30ff;
}
.swap-btn-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.swap-icon {
  width: 80px;
  height: 80px;
  background-color: #fea301;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  border-radius: 50%;
}
.swap-btn {
  border: none;
  background-color: #fea301;
  cursor: pointer;
  transition-duration: 0.4s;
}
.swap-btn:hover {
  background-color: #ffb434;
  color: #e7e7e7;
}


/* Our Story section styles */
.our-story{
    background-image: linear-gradient(rgba(249,222,174,0.1), rgba(249,222,174,4)), url("./assets/bg.png");
    background-size:cover;
    width: 100%;
    height:63.64rem;
}
.story-title-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:60px;
}
.story-title-head{
  font-size: 3em;
  font-weight: bold;
}
.story-container1{
  width: 85%;
  height: 75%;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: end;
}
.story-container2{
    width:100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content1{
    width: 40%;
    height: 98%;
    border-radius:1em;
    background-color: #FFFFFF;
}
.content2{
    width: 48%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-items: center;
}
.story-date{
    width:175px;
    height: 48px;
    font-size: 1em;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#3CD8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    position:relative;
    margin-left: 40px;
    margin-top: -30px;
}
.story-img{
    width: 100%;
    height: 50%;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}
.story-title{
    font-size:2em;
    font-weight: bold;
    line-height: 38px;
    padding: 35px 40px;
}
.story-description{
    font-size:1.2em;
    font-weight: 500;
    line-height:28px;
    padding-left: 40px;
}
.sub-content{
  width: 350px;
  height: 310px;
  background-color: #FFFFFF;
  border-radius: 1em;
}
.story-date-2{
  width:160px;
  height: 43px;
  font-size: 1em;
  font-weight: bold;
  color: #FFFFFF;
  background-color:#95B226;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  position:relative;
  margin-left: 40px;
  margin-top: -30px;
}
.story-date-3{
  width:160px;
  height: 43px;
  font-size: 1em;
  font-weight: bold;
  color: #FFFFFF;
  background-color:#5D58F0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  position:relative;
  margin-left: 40px;
  margin-top: -30px;
}
.story-title-2{
    font-size:1.2em;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 35px;
}
.view-all{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.view-all-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* Marquee section styles */
.marquee-title{
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}
.marquee-tag{
  width: 100%;
  height: 215px;
}
.marquee-gif{
  margin-top: 10px;
  width: 150px;
}

/* Responsive for mobile device  */

@media only screen and (max-width: 430px) {
  /* Nav section */
  .nav {
    border-bottom: 1px solid #fea301;
    background-color: white;
  }
  .container {
    width: 95%;
  }
  .title,
  .menu,
  .contact-btn {
    display: none;
  }
  .hamburger-menu-icon {
    display: inline-block;
  }
  .fa-solid,
  .fa-bars {
    font-size: 30px;
  }
  /* Banner Section */
  .banner-section {
    background-color: white;
    height: 775px;
  }
  .banner-container {
    flex-direction: column-reverse;
    height: auto;
  }
  .banner-content {
    text-align: center;
  }
  .banner-title {
    font-size: 2rem;
    line-height: 2.8125rem;
  }
  .banner-description {
    font-size: 0.93rem;
  }
  .break {
    display: none;
  }
  .banner-img {
    width: 21rem;
    height: 25.8rem;
  }
  /* Standard curriculum Section responsive styles */
  .swap-btn-container{
    display: none;
  }
  .curriculum {
    background-color: #ffffff;
    height: 1400px;
  }
  .curriculum-container{
    width: 95%;

    flex-direction: column;
  }
  .container-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .card-title{
    font-size: 18.6px;
  }
  .card-description{
    font-size: 13px;
  }
  .card-btn-primary{
    font-size: 13px;
  }
  .cr-card{
    width: 21rem;
    margin-top: 20px;
  }
  .card-description {
    margin-bottom:15px;
  }
  .card-btn-primary {
    margin-bottom: 30px;
  }
  /* Our Stories section responsive styles */
  .our-story{
    background-image: linear-gradient(rgba(249,222,174,0.1), rgba(249,222,174,0.5)), url("./assets/bg.png");
    background-size:contain;
    width: 100%;
    height:700px;
  }
  .story-container2, .story-container1{
    height: 390px;
  }
  .content1{
    display: none;
  }
  .content2{
    width:400px;
    height: 380px;
    gap: 10px;
    margin-top:30px;
  }
  .sub-content{
    width: 173px;
    height: 178px;
  }
  .date-container-primary{
    width: 103px;
    height: 23px;
    font-size: 9.13px;
    margin-left: 20px;
    margin-top: -15px;
  }
  .story-title-2{
    font-size: 9.13px;
    padding-left: 20px;
  }
  .story-title-section{
    padding:20px;
  }
  .view-all{
    margin-top: 80px;
    }

    /* Marquee section responsive style */
    .marquee-tag{
      display: none;
    }
    .marquee-title{
      font-size:1em;
    }
}
